/* @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.App {
  text-align: center;
  background: #0c0d13;
}

.App-header {
  
  font-family: "Major Mono Display", monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 36px;
  margin: 0 1rem;
}

.App-byline {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

.App-footer {
  font-style: italic;
  font-size: 24px
}

a {
  font-family:"Roboto Mono", monospace;
  font-weight: 100;
  color: #6b7fd7
}

.Logo-image {
  height: auto;
  width: 3rem;
}

@media screen and (max-width: 476px) {
  .App-header {
    font-size: 14px;
  }
  .App-footer {
    font-size: 10px
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
