/* @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.App {
  text-align: center;
  /* background: #0c0d13; */
  /* background: #1F2232; */
  background: #181a26;
}

.App-header {
  font-family: "Major Mono Display", monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 36px;
  margin: 0 5rem;
}

.App-byline {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

.App-footer {
  font-style: italic;
  font-size: 24px;
  font-weight: 900;
}

a {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: #6b7fd7;
}

.Logo-image {
  height: auto;
  width: 3rem;
}

@media screen and (max-width: 476px) {
  .App-header {
    font-size: 14px;
  }
  .App-footer {
    font-size: 10px;
  }
}

.App-link {
  color: #61dafb;
}

.About-container {
  margin: 0 5rem;
  /* border: 1px solid white; */
  display: flex;
  color: white;
  flex-direction: row;
  align-items: center;
  margin-top: 3rem;
  /* justify-content: space-evenly; */

  background: rgb(24, 26, 38);
  /* background: -moz-linear-gradient(180deg, rgba(24,26,38,1) 37%, rgba(8,9,13,1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(24,26,38,1) 37%, rgba(8,9,13,1) 100%);
  background: linear-gradient(180deg, rgba(24,26,38,1) 37%, rgba(8,9,13,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#181a26",endColorstr="#08090d",GradientType=1);  */
  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }
}
.About-content {
  text-align: left;
  flex-basis: 60%;
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

.Skills-content {
  display: flex;
}

.Experience-container {
  margin: 0 10rem;
  /* border: 1px solid white; */
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.Experience-content-heading {
  display: flex;
  flex-direction: column;
  & > strong {
    font-size: 18px;
  }
}

.About-byline {
  flex-basis: 40%;
  /* margin-top: 24px; */
  font-size: 48px;
  /* font-family: "Roboto Mono", monospace; */
  font-family: "Major Mono Display", monospace;
  font-weight: 300;
  text-align: left;
  padding-left: 7rem;
  @media screen and (max-width: 1000px) {
    padding-left: unset;
  }
  /* margin-top: 0;
  margin-bottom: 0; */
  /* align-self: flex-start; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divider {
  margin: 5rem 10rem;
}

.Contact-footer {
  justify-content: center;
  display: flex;
  flex-direction: row;
  padding-bottom: 5rem;
  & > strong:nth-child(-n + 2) {
    /* border-right: 1px solid white; */
  }
  & > strong {
    font-size: 24px;
    font-family: "Roboto Mono", monospace;
    background: none;
    border: none;
    padding: 0px 36px;
    margin: 12px 0;
    color: white;
  }
}

.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.arrows path {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
